<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result_center.name %>
</p>

<%= link_to 'Edit', edit_result_center_path(@result_center) %> |
<%= link_to 'Back', result_centers_path %>
