<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result_center.name %>
</p>

<%= link_to t("commands.edit"), edit_result_center_path(@result_center) %> |
<%= link_to t("commands.back"), result_centers_path %>
